@media (max-width:1600px) {
    .account-login {
        font-size: 13px;
    }
    .under-line-1 {
        top: 30.5%;
    }
    .under-line-2 {
        top: 75%;
    }
    .search, .login, .cart-side, .menu-icon {
        margin: 0 16px;
    }
    .product-detail-text {
        margin-top: 0px;
    }
    .category-page-section .categories-main-area-para {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 6px;
    }
}
@media (max-width:1440px) {
    .heart-img {
        right: 35.9%;
    }
    .theme a {
        font-size: 16px;
    }
    h3.category-pro-name {
        font-size: 16px;
    }
    .container {
        max-width: 1300px;
    }
    .arrow-right-1 {
        position: absolute;
        top: 40%;
        right: -4%;
        z-index: 1;
    }
    .arrow-left-1 {
        position: absolute;
        top: 40%;
        left: -4%;
        z-index: 1;
    }
    .arrow-style i {
        color: white;
        font-size: 20px;
    }
    .arrow-style {
        height: 40px;
        width: 40px;
    }
    .testimonial-name {
        font-size: 32px;
    }
    .unique-theme-title {
        font-size: 34px;
    }
    .unique-theme-text {
        font-size: 15px;
    }
    .search, .login, .cart-side, .menu-icon {
        margin: 0 11px;
    }
    #header {
        padding: 15px 20px 20px 40px;
    }
    /* #inner-page-header {
        padding: 15px 20px 20px 40px;
    } */
    .under-line-1 {
        top: 31.5%;
    }
    .under-line-2 {
        top: 75.5%;
    }
    /* mega-menu */
    .categories-mega-menu {
        padding: 15px 30px 40px;
        max-width: 1200px;
    }
    h3.main-categories-title {
        font-size: 16px;
    }
    h2.mega-menu-title {
        font-size: 22px;
    }
    .mega-menu-btm-title {
        right: 16%;
    }
    .product-detail-descrip-para {
        font-size: 19px;
    }
    .product-detail-section {
        padding: 70px 0 0 30px;
    }
    .shop-by-theme-mega-menu {
        padding: 20px 0 60px 0;
        max-width: 1200px;
    }
    p.theme-about-area-para {
        font-size: 16px;
    }
    .theme-link {
        font-size: 16px;
    }
    .side-bar-category a {
        font-size: 14px;
    }
}
@media (max-width:1414px) {
    .product-info-section .category-sb-name {
        font-size: 19px;
    }
    .under-line-1 {
        top: 31%;
    }
    .under-line-2 {
        top: 76%;
    }
}
@media (max-width:1366px) {
    .product-info-section {
        padding: 50px 30px 50px 100px;
    }
    .product-info-section .category-sb-name {
        font-size: 18px;
    }
    h3.category-pro-name {
        font-size: 14px;
    }
    .container {
        max-width: 1220px;
    }
    .under-line-1 {
        top: 31%;
    }
    .under-line-2 {
        top: 75%;
    }
    #header {
        padding: 15px 0 15px 30px;
    }
    /* #inner-page-header {
        padding: 15px 0 15px 30px;
    } */
    .unique-theme-title {
        font-size: 32px;
    }
    .unique-theme-btm-title {
        font-size: 43px;
    }
    .unique-theme {
        padding: 150px 0 0 0;
    }
    .section-sub-title {
        font-size: 54px;
    }
    .testimonial-btn-left {
        top: 21%;
    }
    .testimonial-btn-right {
        top: 21%;
    }
    .product-detail-descrip-para {
        font-size: 18px;
    }
    .shop-by-theme-mega-menu {
        padding: 20px 0 40px 0;
        max-width: 1200px;
    }
    .category-sb-title {
        font-size: 22px;
    }
    .inner-img-area .categories-main-area-para {
        font-size: 12px;
    }
}
@media (max-width:1280px) {
    .category-tab {
        font-size: 17px;
    }
    .product-info-section .category-sb-name {
        font-size: 16px;
    }
    .theme a {
        font-size: 13px;
    }
    h3.category-pro-name {
        font-size: 12px;
    }
    .theme-link {
        font-size: 13px;
    }
    .side-bar-category a {
        font-size: 13px;
    }
    .search-icon {
        font-size: 16px;
        color: white;
    }
    .cart-icon {
        font-size: 16px;
        color: white;
    }
    .account-login {
        font-size: 11px;
        margin-top: -1px;
        display: block;
    }
    img.img-fluid.shop-category-img {
        margin-bottom: 60px;
    }
    .header-link {
        font-size: 16px;
    }
    .arrow-style i {
        font-size: 13px;
    }
    .arrow-style {
        height: 30px;
        width: 30px;
    }
    .arrow-left-1 {
        left: -3%;
    }
    .arrow-right-1 {
        right: -3%;
    }
    /* mega-menu */
    .categories-mega-menu {
        padding: 15px 30px 40px;
        max-width: 1024px;
    }
    h2.mega-menu-title {
        font-size: 19px;
    }
    a.mega-category-link {
        font-size: 11px;
    }
    h1.mega-menu-main-title {
        font-size: 40px;
    }
    .categories-mega-menu {
        height: 700px;
    }
    .mega-menu-btm-title {
        right: 15%;
        font-size: 55px;
    }
    .product-detail-descrip-para {
        font-size: 18px;
    }
    .product-name {
        font-size: 60px;
    }
    .shop-by-theme-mega-menu {
        padding: 20px 0 20px 0;
        max-width: 1024px;
    }
    h1.mega-menu-main-title {
        font-size: 35px;
    }
    .theme-about-area-title {
        font-size: 32px;
    }
    p.theme-about-area-para {
        font-size: 14px;
    }
}
@media (max-width:1202px) {
    .categories-mega-menu {
        height: 650px;
    }
    .product-info-section .category-sb-name {
        font-size: 13px;
    }
    .side-bar-category a {
        font-size: 12px;
    }
    .container {
        max-width: 1140px;
    }
    .header-link {
        font-size: 14px;
    }
    .account-login {
        font-size: 10px;
    }
    .unique-theme-title {
        font-size: 30px;
    }
    .unique-theme-btm-title {
        font-size: 36px;
        top: -90px;
    }
    .unique-theme-text {
        font-size: 13px;
    }
    .arrow-left-1 {
        left: -3.2%;
    }
    .arrow-right-1 {
        right: -3.2%;
    }
    .under-line-1 {
        top: 33%;
    }
    .testimonial-name {
        font-size: 30px;
    }
    .category-sb-title {
        font-size: 20px;
    }
}
@media (max-width:1024px) {
    h1.store-policy-title {
        font-size: 35px;
    }
    
.heart-img {
    font-size: 140px;
    color: #cc668f;
    position: absolute;
    bottom: 26px;
    right: 38.9%;
}
    .product-info-section {
        padding: 30px 30px 30px 30px;
    }
    .product-info-section .categories-main-area-para {
        font-size: 13px;
    }
    .theme a {
        font-size: 11px;
    }
    .category-page-section .arrow-style.prev-arrow i {
        font-size: 16px;
    }
    .category-page-section .arrow-style.next-arrow i {
        font-size: 16px;
    }
    .category-page-section .arrow-style.prev-arrow {
        width: 35px;
        height: 35px;
        left: -3px;
    }
    .category-page-section .arrow-style.next-arrow {
        width: 35px;
        height: 35px;
        right: -40px;
    }
    .category-tab {
        font-size: 16px;
    }
    .category-tabs-area {
        padding: 30px 0px 30px 20px;
    }
    .side-bar-category a {
        font-size: 11px;
    }
    .category-page-section .category-title {
        font-size: 15px;
    }
    .category-page-section  {
        padding: 40px 40px;
    }
    .category-sb-main-title {
        font-size: 24px;
    }
    .container {
        max-width: 993px;
    }
    .header-link {
        font-size: 12px;
    }   
    .search-icon {
        font-size: 14px;
    }
    .cart-icon {
        font-size: 14px;
    }
    #header {
        padding: 15px 0 15px 15px;
    }
    #inner-page-header {
        padding: 15px 0 15px 40px;
    }
    .unique-theme-title {
        font-size: 26px;
    }
    .unique-theme-img-1 {
        top: -80px;
    }
    .unique-theme {
        padding: 100px 0 0 0;
    }
    .unique-theme-text-area {
        margin-top: 43px;
    }
    .unique-theme-btm-title {
        font-size: 36px;
        top: -75px;
    }
    .unique-theme-text {
        font-size: 12px;
    }
    .section-sub-title {
        font-size: 42px;
    }
    .categories-sub-hd {
        font-size: 25px;
    }
    .shop-by-theme {
        padding: 25px 0;
    }
    .theme-categories {
        margin-top: 0px;
    }
    .category-content {
        margin-bottom: 10px;
    }
    .arrow-left-1 {
        left: -1.5%;
    }
    .arrow-right-1 {
        right: -1.5%;
    }   
    .testimonial-name {
        font-size: 25px;
    }
    .testimonial-content {
        font-size: 20px;
    }
    .testimonial-sliders .products {
        margin-top: 10px;
    }
    .testimonials-section {
        padding-bottom: 30px;
    }
    .testimonial-btn-left {
        top: 22%;
        left: 8%;
    }
    .testimonial-btn-right {
        top: 22%;
        right: 8%;
    }
    .copy-right-para {
        font-size: 18px;
    }
    .client-name {
        font-size: 18px;
    }
    .footer-descrip {
        font-size: 12px;
    }
    .links-title {
        font-size: 22px;
    }
    .footer-link {
        font-size: 14px;
    }
    /* mega-menu */
    .categories-mega-menu {
        padding: 15px 30px 40px;
        max-width: 900px;
    }
    h3.main-categories-title {
        font-size: 13px;
    }
    a.mega-category-link {
        font-size: 10px;
    }
    h1.mega-menu-main-title {
        font-size: 30px;
    }
    .categories-mega-menu {
        height: 570px;
    }
    .overlay {
        top: 45%;
    }
    .search, .login, .cart-side, .menu-icon {
        margin: 0 5px;
    }
    .product-detail-descrip-para {
        font-size: 17px;
    }
    .product-detail-section {
        padding: 40px 0 0 20px;
    }
    .product-name {
        font-size: 55px;
    }
    .product-detail-descrip-para {
        font-size: 14px;
        margin-top: 5px;
    }
    .product-detail-sb-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .discount-title {
        font-size: 25px;
    }
    .size {
        font-size: 24px;
        width: 50px;
        height: 50px;
    }
    .color {
        height: 50px;
        width: 50px;
    }
    .discount-text-area {
        margin-top: 40px;
    }
    .cart-btn {
        font-size: 25px;
    }
    .shop-by-theme-mega-menu {
        padding: 10px 0 10px 0;
        max-width: 900px;
    }
    .theme-about-area-title {
        font-size: 28px;
    }
    p.theme-about-area-para {
        font-size: 12px;
    }
    .theme-link {
        font-size: 12px;
    }
    .shop-by-theme-mega-menu {
        padding: 20px 0 20px 0;
        max-width: 900px;
        height: 540px;
        overflow-y: auto;
    }
    .products-detail-img {
        width: 100%;
        height: 450px;
        border-radius: 10px;
    }
    .products-detail-image {
        height: 109px;
    }
    .product-name {
        font-size: 45px;
    }
    .inner-img-area .categories-main-area-para {
        font-size: 14px;
    }
    .category-page-section .categories-main-area-para {
        font-size: 13px;
    }
}
/* @media (max-width:992px) {
    .under-line-1 {
        top: 40%;
    }
    .arrow-style {
        height: 25px;
        width: 25px;
    }
    .arrow-style i {
        font-size: 11px;
    }
    .arrow-left-1 {
        left: -1%;
    }
    .arrow-right-1 {
        right: -1%;
    }
    .under-line-2 {
        top: 79%;
    }
    .categories-mega-menu {
        height: 550px;
    }
    .account-login {
        font-size: 9px;
    }
    .search, .login, .cart-side, .menu-icon {
        margin: 0 6px;
    }
} */
@media (max-width:991px) {
    p.store-policy-small-para {
        margin: 30px 0 0px 0;
    }
    .store-policy-para {
        font-size: 15px;
    }
    h1.store-policy-title {
        font-size: 25px;
    }
    .heart-img {
        display: none;
    }
    .theme {
        position: relative;
    }
    .popup-hover {
        position: unset;
    }
    .popup-more-info {
        right: 0;
        width: 150px;
        top: -100px;
    }
    .product-info-section .category-sb-name {
    font-size: 18px;
    margin-top: 8px;
}
    .mt-16px {
        margin-top: 8px;
    }
    .inner-img-flex-area {
        display: block;
    }
    .card.inner-img-area {
        text-align: center;
    }
    .close-sb-menu {
        display: block;
        position: absolute;
        right: 3%;
        top: 1%;
        color: white;
    }
    .category-page-section .category-sb-title {
        color: white;
    }
    .category-page-section .category-title {
        color: white;
    }
    .category-sb-main-title {
        color: white;
    }
    .side-bar-category a {
        color: white;
    }
    .side-bar-category {
        margin-bottom: 5px;
        margin-left: 0;
    }
    .p-sm-0 {
        padding: 0;
        position: relative;
    }
    .category-side-bar.active {
        width: 70%;
        padding-left: 20px;
        border-radius: 0 10px 10px 0;
    }
    .cate-sb-menu {
        display: block;
        font-size: 24px;
    }
    .mt-48px {
        margin-top: 10px;
    }
    .category-tabs-area {
        padding: 15px 5px 15px 5px;
    }
    .category-page-section .arrow-style.prev-arrow {
        width: 25px;
        height: 25px;
        left: 5px;
    }
    .category-tab {
        font-size: 12px;
    }
    .category-page-section .arrow-style.next-arrow {
        width: 25px;
        height: 25px;
        right: -23px;
    }
    .category-page-section .arrow-style.next-arrow i {
        font-size: 10px;
    }
    .category-page-section .arrow-style.prev-arrow i {
        font-size: 10px;
    }
    .category-side-bar {
        position: absolute;
        width: 0%;
        height: 700px;
        overflow-y: auto;
        background-color: #30809b;
        z-index: 99999999;
        transition: 0.3s;
    }
    .category-page-section {
        padding: 20px 20px;
    }
    .main-menu-category.active ul.mega-menu-sub-categries{
        display: block;
    }
    .categories-mega-menu {
        background-color: transparent;
        overflow: hidden;
        border: none;
        position: relative;
        border-radius: unset;
        height: auto;
        display: none;
        max-width: 300px;
        padding: 0 20px 0 0;
        transform: unset;
        left: 0;
        margin-top: 10px;
        width: 100%;
        z-index: 999999999999999;
        box-shadow: unset;
    }
    h2.mega-menu-title {
        margin: 0;
        color: black;
        border: none;
    }
    a.mega-category-link {
        font-size: 10px;
        color: white;
    }
    .mega-menu-btm-title {
        display: none;
    }
    h1.mega-menu-main-title {
        font-size: 30px;
        color: white;
        margin-bottom: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: start;
    }
    h3.main-categories-title {
        font-size: 13px;
        color: white;
    }
    h1.mega-menu-main-title.mt-3 {
        margin-top: 10px !important;
    }
    h1.mega-menu-main-title.mb-4 {
        margin-bottom: 10px !important;
    }
    .heading-icon-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0;
    }
    .mega-menu-angle-down {
        color: black;
    }
    .mega-menu-sub-categries {
        transition: 0.5s;
    } 
    .header-link {
        font-size: 20px;
        font-family: var(--calibry-bold-font-family);
    }
    a.mega-category-link {
        font-weight: 400;
    }
    a.mega-category-link:hover {
        color: yellow;
    }
    ul.nav-area {
        display: block;
        overflow-y: hidden;
    }
    .main-menu-category {
        cursor: pointer;
    }
    .navigation {
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #30809b;
        height: calc(100vh - 0px);
        overflow-x: auto;
        width: 100%;
        opacity: 0;
        transition: 0.5s;
        position: fixed;
        z-index: 9999999999;
        padding-top: 180px;
    }
    .menu {
        color: white;
        font-size: 20px;
    }    
    .navigation.active {
        left: 0;
        opacity: 1;
    }
    .menu-icon {
        display: block;
    }
    .nav-link {
        margin: 0 0 25px 20px;
    }
    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 2%;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #00000063;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .unique-theme-title {
        font-size: 27px;
        text-align: start;
    }
    .unique-theme {
        padding: 45px 0 0 0;
    }
    .unique-theme-img-1 {
        top: 15px;
        left: 0;
    }
    .unique-theme-img-2 {
        position: relative;
        top: 100px;
        left: -24px;
    }
    .unique-theme-text-area {
        margin-top: 75px;
    }
    .unique-theme-text {
        font-size: 20px;
    }
    .unique-theme-btm-title br {
        display: none;
    }
    .unique-theme-btm-title {
        font-size: 38px;
        top: 0;
        margin: 20px 0;
        left: 0;
    }
    .section-sub-title {
        font-size: 50px;
        margin-top: 30px;
    }
    img.img-fluid.shop-category-img {
        margin-bottom: 0px;
        width: 100%;
    }
    .explore-theme-img-area img {
        width: 100%;
    }
    .explore-theme {
        padding: 25px 20px 20px 20px;
    }
    .products {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .under-line-1 {
        top: 13.3%;
    }
    .multiple-slider {
        margin-bottom: 100px;
        margin-top: 20px;
    }
    .under-line-2 {
        top: 65.6%;
    }
    .testimonial-btn-right {
        top: 23%;
        right: 30%;
    }
    .testimonial-btn-left {
        top: 23%;
        left: 30%;
    }
    .links-title {
        font-size: 18px;
    }
    .footer-link {
        font-size: 10px;
    }
    .mega-menu-sub-categries {
        display: none;
    }
    .overlay {
        top: 50%;
    }
    .overlay .closebtn {
        font-size: 40px;
    }
    .pl-0 {
        padding-left: 12px;
    }
    .mega-menu-hover {
        padding: 0;
    }
    .discount-title {
        font-size: 18px;
    }
    .product-detail-section {
        padding: 40px 0 0 0px;
    }
    .product-name {
        margin-top: 15px;
    }
    .discount-text-area {
        margin-top: 20px;
    }    
    .product-discription-title {
        margin-top: 20px;
    }
    .detail-page-border {
        margin: 30px 0 0px 0;
    }
    section.related-products-section {
        padding-bottom: 0;
    }
    .shop-theme-mega-menu-hover {
        padding: 0;
    }
    .color-black {
        color: black;
    }
    .shop-by-theme-mega-menu {
        background-color: transparent;
        overflow: hidden;
        border: none;
        position: relative;
        border-radius: unset;
        height: auto;
        max-width: 300px;
        padding: 0 20px 0 0;
        transform: unset;
        left: 0;
        margin-top: 10px;
        width: 100%;
        z-index: 999999999999999;
        box-shadow: unset;
        /* display: none; */
    }
    .shop-theme-live {
       display: none;
    }
    .star-img {
        display: none;
    }
    .theme-about-area {
        display: none;
    }
    .pl-30px {
        padding-left: 0;
    }
    h1.mega-menu-main-title {
        display: none;
    }
    .mega-menu-main-sub-title {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 0;
        color: black;
        text-align: start;
    }
    .theme-link {
        font-size: 12px;
        color: white;
    }
    .products-detail-img {
        height: auto;
    }
    .products-detail-image {
        height: auto;
    }
    .featured-products .mb-5 {
        margin-bottom: 10px !important;
    }
    .testimonial-title, .instagram-sec-title {
        font-size: 60px;
        margin-bottom: 15px;
    }
    .testimonial-content {
        padding: 0;
        margin-bottom: 0;
    }
    section.instagram-follow {
        padding-bottom: 40px;
    }
    .category-sb-title {
        font-size: 24px;
    }
    .color-blk {
        color: black !important;
    }
}
@media (max-width:767px) {
    .product-info-section {
        padding: 30px 0 30px 0;
    }
    .theme a {
        font-size: 15px;
        font-family: var(--poppins-font-family);
        font-weight: 600;
        color: black;
        text-decoration: none;
    }
    #header {
        padding: 15px 0px 15px 10px;
        position: absolute;
        width: 100%;
    }
    /* #inner-page-header {
        padding: 15px 0 15px 10px;
    } */
    ul.nav-area {
        display: block;
    }
    .pl-0 {
        padding-left: 12px;
    }
    .navigation {
        top: 0;
        left: -100%;
        background-color: #30809b;
        height: 100vh;
        width: 100%;
        opacity: 0;
        transition: 0.5s;
        position: fixed;
        z-index: 999999999;
        padding-top: 180px;
    }
    .navigation.active {
        left: 0;
        opacity: 1;
    }
    .menu-icon {
        display: block;
    }
    .nav-link {
        margin: 0 0 25px 20px;
    }
    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 2%;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #00000063;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .unique-theme {
        padding: 40px 0 0 0;
    }
    .unique-theme .justify-content-end {
        justify-content:center !important;
    }
    .unique-theme-title {
        font-size: 22px;
        text-align: start;
    }
    .unique-theme-img-1 {
        top: 22px;
        left: 0;
    }
    .unique-theme-img-2 {
        top: 100px;
        left: -24px;
    }
    .unique-theme-btm-title {
        font-size: 35px;
        font-family: var(--calibry-bold-font-family);
        color: #5897ab;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 25px;
    }
    .theme-disc {
        font-size: 16px;
    }
    .theme-sub-disc {
        font-size: 15px;
    }
    .unique-theme-btm-title br {
        display: none;
    }
    .section-title {
        font-size: 45px;
    }
    img.img-fluid.shop-category-img {
        margin-bottom: 0px;
        width: 100%;
    }
    .section-sub-title {
        font-size: 48px;
        margin-top: 30px;
    }
    .border-left-right {
        margin-top: 30px;
    }
    .shop-by-theme {
        padding: 40px 0;
    }
    .testimonial-btn-right {
        position: absolute;
        top: 33%;
        right: 23%;
        z-index: 9999;
    }
    .testimonial-btn-left {
        position: absolute;
        top: 33%;
        left: 23%;
        z-index: 9999;
    }
    .explore-theme-img-area img {
        width: 100%;
    }
    .explore-theme {
        padding: 25px 20px 20px 20px;
    }
    .featured-products {
        padding: 0px 0 10px 0;
    }
    .arrow-style {
        display: none;
    }
    .swiper-slider-1 {
        margin-bottom: 0;
    }
    img.img-fluid.product-img {
        margin-top: 20px;
    }
    .under-line-1 {
        top: 18%;
    }
    .multiple-slider {
        margin-bottom: 60px;
    }
    .under-line-2 {
        top: 67.4%;
    }
    .testimonial-title, .instagram-sec-title {
        font-size: 55px;
        margin-bottom: 20px;
    }
    .testimonial-content {
        font-size: 20px;
        margin-bottom: 0;
    }
    #footer {
        padding-top: 20px;
    }
    .copy-right-para {
        font-size: 18px;
    }
    .client-name {
        font-size: 18px;
    }
    #footer .justify-content-between {
        justify-content: space-evenly!important;
    }
    .ordr-1 {
        order: 1;
    }
    .footer-center-area {
        margin-top: 20px;
    }
    .testimonials-section {
        padding-bottom: 30px;
    }
    .testimonial-sliders .products {
        margin-top: 0;
    }
    .mega-menu-hover {
        padding: 0;
    }
    .mega-menu-hover {
        padding: 0;
    }
    .inner-img-area {
        text-align: center;
    }
    .mt-16px {
        margin-top: 5px;
    }
}
@media (max-width:480px) {
    .store-policy-sb-title {
        font-size: 20px;
        font-weight: 600;
    }
    h1.store-policy-title {
        font-size: 17px;
    }
    .inner-cat-btm-link {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .category-slider-btm-title {
        font-size: 22px;
    }
    .product-info-section .categories-main-area-para {
        font-size: 11px;
    }
    .category-tabs-area {
        padding: 0px 5px 0px 5px;
    }
    .theme a {
        font-size: 12px;
        font-family: var(--poppins-font-family);
        font-weight: 600;
        color: black;
        text-decoration: none;
    }
    .categories-main-area-title {
        font-size: 25px;
    }
    .category-page-section .categories-main-area-para {
        font-size: 11px;
    }
    .category-page-section .arrow-style.prev-arrow {
        display: none !important;
    }
    .category-page-section .arrow-style.next-arrow {
        display: none !important;
    }
    .category-page-section {
        padding: 20px 0px;
    }
    .category-product-list li {
        width: 50%;
        padding: 0 5px;
    }
    .category-page-section .arrow-style.prev-arrow i {
        font-size: 9px;
    }
    .search, .login, .cart-side, .menu-icon {
        margin: 0 8px;
    }
    .pl-0 {
        padding-left: 12px;
    }
    .unique-theme-title {
        font-size: 14px;
        text-align: start;
    }
    .unique-theme {
        padding: 16px 0 0 0;
    }
    .unique-theme-img-1 {
        top: 16px;
        left: 0;
    }
    .unique-theme-img-2 {
        top: 68px;
        left: -24px;
    }
    .unique-theme-btm-title {
        font-size: 25px;
    }   
    .section-sub-title {
        font-size: 27px;
        margin-top: 30px;
    } 
    .categories-sub-hd {
        font-size: 20px;
    }
    .theme-disc {
        font-size: 12px;
    }
    .theme-sub-disc {
        font-size: 12px;
    }
    .explore-theme-title {
        font-size: 35px;
    }
    .category-content {
        font-size: 16px;
    }
    .swiper-slider-1 {
        margin-bottom: 0px;
    }
    .testimonial-title, .instagram-sec-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .testimonial-name {
        font-size: 34px;
    }
    .copy-right-para {
        font-size: 10px;
    }
    .client-name {
        font-size: 10px;
    }
    .testimonial-content {
        font-size: 15px;
        margin-bottom: 0;
        padding: 0;
    }
    .testimonial-btn-left {
        position: absolute;
        top: 21%;
        left: 19%;
        z-index: 9999;
    }
    .testimonial-btn-right {
        position: absolute;
        top: 21%;
        right: 19%;
        z-index: 9999;
    }
    .under-line-1 {
        top: 19%;
    }
    .overlay {
        padding: 30px 0 30px 20px;
        width: 80%;
    }
    .mega-menu-hover {
        padding: 0;
    }
    .discount-title {
        font-size: 12px;
    }
    .discount-area-img {
        width: 25px;
    }
    .product-detail-section {
        padding: 20px 0 0 0px;
    }
    .detail-section-left-area {
        display: block;
    }
    .products-detail-images {
        display: flex;
        align-items: center;
        max-width: 687px;
        width: 100%;
        margin-bottom: 10px;
    }
    .overflow {
        overflow: auto;
    }

    .product-detail-img-area {
        margin-left: 0;
        width: unset;
    }
    .products-detail-image {
        height: 100px;
        max-width: 109px;
        margin-bottom: 1px;
        border-radius: 10px;
        margin-right: 5px;
    }
    .product-name {
        font-size: 40px;
    }
    .products-detail-img {
        height: 440px;
    }
    .product-detail-descrip-para {
        font-size: 12px;
        margin-top: 10px;
    }
    .product-detail-sb-title {
        margin-top: 15px;
        font-size: 22px;
    }
    .size {
        font-size: 19px;
        width: 45px;
        height: 45px;
    }
    .color {
        height: 40px;
        width: 40px;
    }
    .cart-btn {
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 20px;
    }
    .mb-45px {
        margin-bottom: 20px;
    }
    .related-products {
        margin-bottom: 35px;
    }
    .overflow {
        width: unset;
    }
    .card.inner-img-area {
        text-align: center;
        padding: 10px 0;
    }
    .product-info-section .row.align-items-center.mt-4 {
        margin-top: 0 !important;
    }
    .mt-16px {
        margin-top: 5px;
    }
    .category-sb-title {
        margin-top: 5px;
    }
    .category-sb-title {
        font-size: 20px;
    }
    .inner-img-area .categories-main-area-para {
        font-size: 12px;
    }
    /* .instagram-icon-img {
        top: 23%;
        left: 19%;
    } */
}
@media (max-width:414px) {
    p.store-policy-small-para {
        font-size: 12px;
    }
    .store-policy-sb-title {
        font-size: 17px;
        font-weight: 600;
    }
    .store-policy-para {
        font-size: 13px;
    }
    h1.store-policy-title {
        font-size: 12px;
    }
    .theme {
        position: relative;
    }
    .popup-hover {
        position: unset;
    }
    .popup-more-info {
        right: 0;
        width: 150px;
        top: -100px;
    }
    .inner-cat-btm-link {
        font-size: 14px;
    }
    .card.inner-img-area {
        height: 190px;
    }
    .product-info-section .category-sb-name {
        font-size: 16px;
        margin-top: 8px;
    }
    
    .category-tab {
        font-size: 9px;
    }
    .account-login {
        font-size: 10px;
    }
    .pl-0 {
       padding-left: 12px;
    }
    .search-icon {
        font-size: 15px;
    }
    .cart-icon {
        font-size: 15px;
    }
    .menu {
        font-size: 15px;
    }
    .unique-theme-title {
        font-size: 12px;
        text-align: start;
    }
    .unique-theme-text {
        font-size: 12px;
    }
    .unique-theme-btm-title {
        font-size: 16px;
    }
    .section-title {
        font-size: 30px;
    }
    .section-sub-title {
        margin-top: 20px;
        font-size: 20px;
    }
    .border-left-right {
        margin-top: 20px;
    }
    .categories-sub-hd {
        font-size: 15px;
        margin-top: 20px;
    }
    .explore-theme-title {
        font-size: 25px;
    }
    .products {
        margin-top: 0;
    }
    .under-line-1 {
        top: 19%;
    }
    .under-line-2 {
        top: 68%;
    }
    .testimonial-title, .instagram-sec-title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .testimonial-sliders {
        margin-top: 18px;
    }
    .testimonial-btn-left {
        position: absolute;
        top: 21%;
        left: 10%;
        z-index: 9999;
    }
    .testimonial-btn-right {
        position: absolute;
        top: 21%;
        right: 10%;
        z-index: 9999;
    }
    .links-title {
        font-size: 20px;
    }
    .footer-link {
        font-size: 10px;
    }
    .footer-title {
        font-size: 35px;
    }
    .footer-descrip {
        font-size: 10px;
    }
    .copy-right-para {
        font-size: 7px;
    }
    .unique-theme-img-2 {
        top: 50px;
        left: -24px;
    }
    .unique-theme-text-area {
        margin-top: 55px;
    }
    .unique-theme-btm-title {
        font-size: 16px;
        margin-top: 0;
    }
    .theme-categories {
        margin-top: 10px;
    }
    .overlay input[type=text] {
        padding: 10px 10px;
    }
    .overlay button {
        padding: 10px;
    }
    .mega-menu-hover {
        padding: 0;
    }
    .discount-title {
        font-size: 10px;
    }
    .discount-area-img {
        width: 20px;
    }
    .size {
        font-size: 15px;
        width: 35px;
        height: 35px;
    }
    .color {
        height: 35px;
        width: 35px;
    }
    .products-detail-img {
    height: 400px;
}
.category-sb-title {
    font-size: 18px;
}
.inner-img-area .categories-main-area-para {
    font-size: 10px;
}
}

